[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
numpy = "*"
matplotlib = "*"

[dev-packages]
ipython = "*"
snakeviz = "*"
line-profiler = "*"
psutil = "*"
memory-profiler = "*"
py-spy = "*"

[requires]
python_version = "3.8"
